@import '../../../styles/settings.scss';

.shopBtn {
  font-family: $font-text;
  font-size: 20px;
  background-color: $color-success;
  color: $color-text-bright;
  padding: 10px 50px;
  border: none;
  box-shadow: inset;
}