@import '../../../styles/settings.scss';

.customNavbar {
  background-color: $color-primary;
  padding: 0 5px 0 5px;
  width: 100%;
}

.brand {
  font-family: $font-header;
  font-size: 35px;
  font-weight: 900;
  color: $color-text-bright;
}

.link {
  font-family: $font-text;
  font-size: 20px;
  font-weight: 700;
  color: $color-link;
  padding: 15px;
}

.icon {
  font-family: $font-text;
  font-size: 20px;
  font-weight: 700;
  color: $color-icon;
}

.badge {
  font-size: 10px; 
  padding: 0.15rem 0.4rem; 
  border-radius: 0.7rem; 
  background-color: $color-text-bright;
  color: $color-text;
  position: absolute;
}

.dropdown {
  position: relative;
  display: flex;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: $color-text-bright;
  border-radius: 5px;
  z-index: 1;
  padding: 30px;
  text-align: center;
  left: 0;
  top: 50px;
}

.dropdownContent a {
  font-family: $font-text;
  font-weight: 400;
  font-size: 20px;
  color: $color-success;
  text-decoration: none;
  display: block;
  padding: 7px 0;
}

.dropdownContent a:hover {
  background-color:$color-text-bright;
}

.dropdown:hover .dropdownContent {
  display: flex;
  justify-content: center;
}

.block {
  padding: 7px;
}

.blockTitle {
  text-align: start;
  border-bottom: 1px solid #ccc; 
  padding: 0 5px 0 0;
}

.mediaBox {
  display: flex;
  flex-direction: row;
}



