$font-header: 'Merriweather', serif;
$font-text: 'Raleway', sans-serif;

$color-text: #1a2421;
$color-icon: #fff;
$color-link: #fff;
$color-text-light: #5e5d5d;
$color-text-bright: #fff;

$color-primary:	#1a2421;
$color-secondary: #BDC581;

$color-success: #6e2a0b;